.App {
  text-align: center;
}
.arrow-marker {
  list-style-image: url('./Images/Vector.png');
  cursor: pointer;
}
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
width: 3px;
height: 3px;
background-color: #AEAEAE;
margin-Top: 2px;
left:4px;
}
